<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Tecnologica de Nayarit</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <header class="header">
        <div class="menu_bar">
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
        </div>
        <div class="content">
            <div class="cnt1">
                <img src="/public/assets/logo_utn.png" alt="logo_utn" class="img1">
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container1">

        </div>
    </main>
    <footer class="footer">

    </footer>
</body>
</html>