* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
        position: relative;
        overflow-x: hidden;
        min-height: 100vh;
    
        & header.header {
            position: relative;
    
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 5px;
    
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            padding: 5px;
    
            background-color: #2d2d2d;

            & div.cnt1 {

                & img.img1 {
                    height: 100vh;
                }
            }
        }
    }
}
