<footer class="border-t bg-secondary/50">
  <div class="container mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1">
        <a href="/">
          <!-- Logo -->
          <div class="flex items-center gap-2 flex-wrap flex-col-reverse">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="00 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-8 w-8 text-primary"><path d="M12 22s-8-4.5-8-11.8A8 8 0 0 1 12 2a8 8 0 0 1 8 8.2c0 7.3-8 11.8-8 11.8z"/><path d="M12 7v6"/><path d="m15 10-3-3-3 3"/></svg> -->
            <span class="font-headline text-xl font-bold text-primary">
              <%= title %>
            </span>
            <img src="/public/assets/images/logotypes/logo_utnay.png" alt="logo utnay" class="h-150 w-auto"/>
          </div>
        </a>
        <span class="text-sm text-muted-foreground text-center block">
          Formando líderes para un futuro innovador.
        </span>
        <div class="flex space-x-6 items-center justify-center">
          <a href="#" class="text-muted-foreground hover:text-foreground">
            <span class="sr-only">Facebook</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
          </a>
          <a href="#" class="text-muted-foreground hover:text-foreground">
            <span class="sr-only">Twitter</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6"><path d="M22 4s-.7 2.1-2 3.4c1.6 1.4 3.3 4.9 3.3 4.9-6.1-1.4-12.1-4.1-16.1-6.8 0 0-4.4 7.4 4.6 11.4-3.3.6-6.4 1.5-9.4-1.9 0 0 3.8 6.4 10.8 8.4-2.2 1.4-6.8 1.6-10.8-1.5 8.6 6.8 20.2-3.8 17.2-16.4Z"/></svg>
          </a>
          <a href="#" class="text-muted-foreground hover:text-foreground">
            <span class="sr-only">Instagram</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
          </a>
        </div>
      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-6">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="font-headline text-sm font-semibold tracking-wider text-foreground">
              Contactanos
            </h3>
            <ul class="mt-4 space-y-4">
              <li><a href="tel:+523112119800" class="text-sm text-muted-foreground hover:text-foreground">+52 (311) 211 9800</a></li>
              <li><a href="mailto:info@utnay.edu.mx" class="text-sm text-muted-foreground hover:text-foreground">info@utnay.edu.mx</a></li>
              <li><a href="https://maps.app.goo.gl/6UwFJ84tVnuobTiXA" class="text-sm text-muted-foreground hover:text-foreground">Carretera Federal 200 K.m 9 Xalisco, Nayarit. C.P. 63780</a></li>
            </ul>
          </div>
          <div>
            <h3 class="font-headline text-sm font-semibold tracking-wider text-foreground">
              Ligas de Interes
            </h3>
            <ul class="mt-4 space-y-4">
              <li><a href="https://www.gob.mx/sep" class="text-sm text-muted-foreground hover:text-foreground">SEP</a></li>
              <li><a href="http://cgutyp.sep.gob.mx" class="text-sm text-muted-foreground hover:text-foreground">CGUTYP</a></li>
              <li><a href="https://www.nayarit.gob.mx" class="text-sm text-muted-foreground hover:text-foreground">Gobierno de Estado de Nayarit</a></li>
              <li><a href="https://www.sat.gob.mx" class="text-sm text-muted-foreground hover:text-foreground">SAT</a></li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div class="mt-12 md:mt-0">
            <h3 class="font-headline text-sm font-semibold tracking-wider text-foreground">
              Lo mas Buscado
            </h3>
            <ul class="mt-4 space-y-4">
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Incubadora de Negocios</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">CEELEX</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Carreras</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Becas</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">ECECUT</a></li>
            </ul>
          </div>
          <div>
            <h3 class="font-headline text-sm font-semibold tracking-wider text-foreground">
              Legal
            </h3>
            <ul class="mt-4 space-y-4">
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Aviso de Privacidad</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Transparencia</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Informes Financieros</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Sistema de Calidad</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-border pt-8">
      <p class="text-sm text-muted-foreground xl:text-center">
        &copy; <%= new Date().getFullYear() %> <%= title %>. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
