:root {
    --black: #000000ff;
    --white: #FEFFFFff;
    --persian-green: #149F8Bff;
    --black-2: #000000ff;
    --jet: #2D2C2Dff;
    --seasalt: #F6F9F8ff;
    --black-3: #000000ff;
    --black-4: #010101ff;
    --persian-green-2: #009882ff;
    --black-5: #030303ff;
}