<footer class="border-t bg-secondary/50">
  <div class="container mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1">
        <a href="/">
          <div class="flex items-center gap-2 flex-wrap flex-col-reverse">
            <span class="font-headline text-xl font-bold text-primary">
              <%= title %>
            </span>
            <img src="/public/assets/images/logotypes/logo_utnay.png" alt="logo utnay" class="h-150 w-auto"/>
          </div>
        </a>
        <span class="text-sm text-muted-foreground text-center block">
          Formando líderes para un futuro innovador.
        </span>
        <div class="flex space-x-6 items-center justify-center">
          <a href="#" target="_blank" class="text-muted-foreground hover:text-foreground">
            <span class="sr-only">Facebook</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
          </a>
        </div>
      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-6">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="font-headline text-sm font-semibold tracking-wider text-foreground">
              Contactanos
            </h3>
            <ul class="mt-4 space-y-4">
              <li><a href="tel:+523112119800" class="text-sm text-muted-foreground hover:text-foreground">+52 (311) 211 9800</a></li>
              <li><a href="mailto:info@utnay.edu.mx" class="text-sm text-muted-foreground hover:text-foreground">info@utnay.edu.mx</a></li>
              <li><a href="https://maps.app.goo.gl/6UwFJ84tVnuobTiXA" target="_blank" class="text-sm text-muted-foreground hover:text-foreground">Carretera Federal 200 K.m 9 Xalisco, Nayarit. C.P. 63780</a></li>
              <li><a href="https://github.com/Fernangel7" target="_blank" class="text-sm text-muted-foreground hover:text-foreground">Developer (Fernangel7)</a></li>
              <li><a href="/development" class="text-sm text-muted-foreground hover:text-foreground">Development</a></li>
            </ul>
          </div>
          <div>
            <h3 class="font-headline text-sm font-semibold tracking-wider text-foreground">
              Ligas de Interes
            </h3>
            <ul class="mt-4 space-y-4">
              <li><a href="https://www.gob.mx/sep" target="_blank" class="text-sm text-muted-foreground hover:text-foreground">SEP</a></li>
              <li><a href="http://cgutyp.sep.gob.mx" target="_blank" class="text-sm text-muted-foreground hover:text-foreground">CGUTYP</a></li>
              <li><a href="https://www.nayarit.gob.mx" target="_blank" class="text-sm text-muted-foreground hover:text-foreground">Gobierno de Estado de Nayarit</a></li>
              <li><a href="https://www.sat.gob.mx" target="_blank" class="text-sm text-muted-foreground hover:text-foreground">SAT</a></li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div class="mt-12 md:mt-0">
            <h3 class="font-headline text-sm font-semibold tracking-wider text-foreground">
              Lo mas Buscado
            </h3>
            <ul class="mt-4 space-y-4">
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Incubadora de Negocios</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">CEELEX</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Carreras</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Becas</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">ECECUT</a></li>
            </ul>
          </div>
          <div>
            <h3 class="font-headline text-sm font-semibold tracking-wider text-foreground">
              Legal
            </h3>
            <ul class="mt-4 space-y-4">
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Aviso de Privacidad</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Transparencia</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Informes Financieros</a></li>
              <li><a href="#" class="text-sm text-muted-foreground hover:text-foreground">Sistema de Calidad</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-border pt-8">
      <p class="text-sm text-muted-foreground xl:text-center">
        &copy; <%= new Date().getFullYear() %> <%= title %>. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
