/* Import MerriWeather Font Variants*/

@font-face {
    font-family: "Merriweather";
    src: url("./merriweather/Merriweather-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("./merriweather/Merriweather-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Merriweather";
    src: url("./merriweather/Merriweather-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("./merriweather/Merriweather-LightIt.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Merriweather";
    src: url("./merriweather/Merriweather-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("./merriweather/Merriweather-BoldIt.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Merriweather";
    src: url("./merriweather/Merriweather-UltraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url("./merriweather/Merriweather-UltraBdIt.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

/* Import Open Sans Font Variants*/

@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/OpenSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/OpenSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/OpenSans-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/OpenSans-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/OpenSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("./open-sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

:root {

    --title_font: "Merriweather", serif;
    --subTitle_font: "Merriweather", serif;
    --paragraph_font: "Open Sans", sans-serif;
}

h1 {
    font-family: var(--title_font);
    font-weight: 400;
    font-style: normal;
}

h2,
h3,
h4 {
    font-family: var(--subTitle_font);
    font-weight: 300;
    font-style: normal;
}

p,
span {
    font-family: var(--paragraph_font);
    font-weight: 400;
    font-weight: normal;
    
    & .def {
        font-family: var(--paragraph_font);
        font-weight: 400;
        font-style: normal;
    }
}